@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 45px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #e4e4e7;
    background-color: #152861;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.score-board{
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fbbf24;
    box-shadow: 5px 5px #888888;
    color: black;
    cursor: pointer;
}

.flag-container{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.flag{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.flag:hover{
    cursor:pointer;
}

.flag-title{
    text-align: center;
}

svg{
    width: 1.5rem;
}

svg:hover{
    color: #888888;
    cursor: pointer;
}

.instructions{
    position: relative;
    display: inline-block;
}

.instructions-text{
    color: #374151;
    background-color: #d1d5db;
    position: absolute;
    left: -125px;
    width: 250px;
    padding: 15px;
    border-radius: 3px;
    text-align: justify;
    display:none;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.instructions:hover .instructions-text{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .flag-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .flag{
        width: 150px;
        height: 100px;
    }

    .instructions-text{
        left: -250px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flag-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .flag{
        width: 200px;
        height: 133px;
    }
}